@config "../tailwind.config.js";

@import "tailwindcss";
@import '$lib/styles/utilities.css';
@import './lib/styles/transitions.css';

/* Global styles */
html {
  scroll-behavior: smooth;
  overflow-y: overlay;
  font-family: 'Sen', sans-serif;
}

html:not(.dark) .code-light {
  @import 'prism-themes/themes/prism-material-light.css';
  /* @import 'prism-themes/themes/prism-one-light.css'; */
}

html.dark .code-dark {
  /* @import 'prism-themes/themes/prism-material-dark.css'; */
  @import 'prism-themes/themes/prism-material-oceanic.css';
}

@media (prefers-reduced-motion: no-preference) {
	[style*='--tag'] {
		view-transition-name: var(--tag);
	}

  [style*='--title'] {
		view-transition-name: var(--title);
	}
}

::view-transition-old(main),
::view-transition-new(main) {
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
}

::view-transition-old(main) {
	animation-name: plane-out;
}

::view-transition-new(main) {
	animation-name: plane-in;
}
