@config "../tailwind.config.js";

@import "tailwindcss";
@import '$lib/styles/utilities.css';

/* Global styles */
html {
  scroll-behavior: smooth;
  overflow-y: overlay;
  font-family: 'Sen', sans-serif;
}
