@config "../tailwind.config.js";

@import "tailwindcss";
@import '$lib/styles/utilities.css';

/* Global styles */
html {
  scroll-behavior: smooth;
  overflow-y: overlay;
    /* font-family: 'Dosis', sans-serif; thin */ 

    /* font-family: 'Cabin', sans-serif; basic */
    /* font-family: 'Jost', sans-serif; basic */
    /* font-family: 'Molengo', sans-serif; basic */

    font-family: 'Barlow', sans-serif;
    /* font-family: 'Exo', sans-serif;  tech */
    /* font-family: 'Google Sans Code', sans-serif; tech */
    /* font-family: 'Jura', sans-serif; tech */
    /* font-family: 'Saira', sans-serif; tech */
    
    
    
    /* font-family: 'M PLUS Rounded 1c', sans-serif; clean */
    /* font-family: 'Fira Sans', sans-serif; clean  */
    /* font-family: 'Andika', sans-serif; clean */
    /* font-family: 'Sen', sans-serif; clean */
}
